streamlit
langgraph
langchain-xai
langchain-core
python-dotenv
nbconvert
ipykernel
chromadb
sentence-transformers
pdfplumber
scikit-learn
python-dateutil

PyMuPDF
pillow
pytesseract
reportlab
faker
rapidfuzz
